@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  background: radial-gradient(circle at top, #16309e 0%, #081341 65%, #050b28 100%);
  min-height: 100dvh;
}

* {
  -webkit-tap-highlight-color: transparent;
}
